{% comment %} {% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>

	  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <style>
    body{
      background: url('{% static "recognition/img/bg_image.png"%}') no-repeat center center fixed;
      background-size: cover;
      
    }
   
   </style>


	
</head>
<body>
<div class="col-lg-12" style="background: rgba(0,0,0,0.6);max-height: 20px ; padding-top:1em;padding-bottom:3em;color:#fff;border-radius:10px;-webkit-box-shadow: 2px 2px 15px 0px rgba(0, 3, 0, 0.7);
-moz-box-shadow:    2px 2px 15px 0px rgba(0, 3, 0, 0.7);
box-shadow:         2px 2px 15px 0px rgba(0, 3, 0, 0.7); margin-left:auto; margin-right: auto; ">

  <a href="/faculty_dashbord/"><h5 class="text-left">Back</h5></a>
</div>

 <div class="col-lg-4" style="background: rgba(0,0,0,0.6);margin-top:150px ; padding-top:1em;padding-bottom:3em;color:#fff;border-radius:10px;-webkit-box-shadow: 2px 2px 15px 0px rgba(0, 3, 0, 0.7);
-moz-box-shadow:    2px 2px 15px 0px rgba(0, 3, 0, 0.7);
box-shadow:         2px 2px 15px 0px rgba(0, 3, 0, 0.7); margin-left:auto; margin-right: auto; ">

 <form method="POST" >
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"> Register New Student</legend>
        {{form| crispy}}
      </fieldset>

      <div class="form-group">
        <button class="btn btn-outline-info" type="submit"> Register</button>
      </div>
    </form>

</div>





  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </html> {% endcomment %}

  {% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'recognition/css/bootstrap.min.css' %}">
    
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            background: url('{% static "recognition/img/bg.jpg" %}') no-repeat center center fixed;
            background-size: cover;
            
        }

        .content-wrapper {
            flex: 1;
        }

        .footer {
            background-color: #0a3257;
            padding-top: 30px;
            padding-bottom: 20px;
            text-align: center;
            color: #fff;

        }
    </style>
</head>
<body>
    <div class="content-wrapper">
        <!-- Navbar -->
      <nav class="main-header navbar bg-secondary navbar-white p-0">

        <a href="/" class="navbar-brand">
          <img
            src="{% static 'recognition/img/logo3.png' %}"
            alt="AdminLTE Logo"
            class="img-circle"
            style="width: 140px; height:60px; margin-left: 10px;"
          />
        </a>
        <h1 class="text-white text-center display-3 text-uppercase"></h1>
      <!--Right navbar links-->
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
          <li class="nav-item dropdown">
            <a class="button btn btn-primary" href="/faculty_dashboard/" style="margin-right: 20px;">Dashbord</a>
          </li>
        </ul>

      </div>

       </nav>
    
        <div class="container">
            <div class="row">
              <div class="col-lg-5 mx-auto " style="background: #0a3257; padding: 2em; color: #fff; border-radius: 25px; box-shadow: 2px 2px 15px 0px rgba(0, 3, 0, 0.7); margin-top: 120px; margin-bottom: 100px; ">
                      <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom " style="margin-bottom: 50px;" >Register New Student</legend>
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li class="{{ message.tags }}">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="submit" style="margin-bottom: 30px; margin-top: 20px;">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="container">
          <div class="row" >
            <div class="col-lg-12 text-center">
              <p> Copyright © 2024 All rights reserved.</p>
            </div>
          </div>
        </div>
    </footer>
    
    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>